<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosProyect.Properties.Settings.conecionBD" connectionString="Data Source=proyectoAD.mssql.somee.com;Initial Catalog=proyectoAD;Persist Security Info=False;User ID=MAURICIOT_SQLLogin_1;Password=kvdce5eude;Packet Size=4096;Workstation ID=proyectoAD.mssql.somee.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>